/*メインの画面の設定*/
.title{
  color: #0ff;
  padding-top:50px;
}

.header{
text-align: center;
font-size: 30px;
}

.main{
  background-color:#ff7f50;
  padding:20px;
  text-align: center;
}

.member_list_1{
  padding-right:40px;
}


/*メンバーそれぞれの詳細*/
.item_1{
  text-align: center;
  display: none;
  display: inline-block;
  padding:30px;
}

.kanji_1{
  font-size: 30px;
}

.kana_1{
  font-size: 15px;
}

.gakubu_1{
  font-size: 15px;
}

/*フッターの背景の色*/
.footer_1{
  text-align: center;
  background-color:#228b22;
  padding-top: 30px;
  padding-bottom: 20px;
}

/*フッターのハイキュークラブロゴの設定*/
.footer_1 b{
  font-size: 50px;
}


/*個人のージの設定*/
.header_2{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

.body_2{
  background-color:#ff7f50;
  padding-bottom: 40px;
}

.img_2{
  padding-top: 30px;
}

.main_name{
  font-size:70px;
}

.main_kana{
  font-size:35px;
}

.text{
  font-size: 40px;
}

.info_name{
  padding-right: 30px;
}

.main_sub{
  text-align: center;
}

.item_2{
  text-align: center;
  display: none;
  display: inline-block;
  padding:30px;
}

.kanji_2{
  font-size: 20px;
}

.kana_2{
  font-size: 15px;
}

.gakubu_2{
  font-size: 15px;
}

/*フッターの背景の色*/
.footer_2{
  text-align: center;
  background-color:#228b22;
  padding-top: 30px;
  padding-bottom: 40px;
}

/*フッターのハイキュークラブロゴの設定*/
.footer_2 b{
  font-size: 50px;
}
