.title{
  color: #0ff;
  padding-top:50px;
}

.header{
text-align: center;
font-size: 30px;
}

.main{
  background-color:#ff7f50;
  padding:20px;
  text-align: center;
}

.member_list_1{
  padding-right:40px;
}


/*メンバーそれぞれの詳細*/
.item_1{
  text-align: center;
  display: none;
  display: inline-block;
  padding:30px;
}

.kanji_1{
  font-size: 30px;
}

.kana_1{
  font-size: 15px;
}

.gakubu_1{
  font-size: 15px;
}

/*フッターの背景の色*/
.footer_1{
  background-color:#228b22;
  height: 150px;
  padding:15px 50px;
}

/*フッターのハイキュークラブロゴの設定*/
.footer_1 a{
  font-size: 50px;
}


/*個人のページの設定*/
.left{
  text-align: left;
  font-size: 20px;
  padding-left: 35%;
  padding-right: 35%;
}

.syoukai_2{
  display: block;

}

.item_2{
  text-align: center;
  display: none;
  display: inline-block;
  padding:20px;
}

.kanji_2{
  font-size: 20px;
}

.kana_2{
  font-size: 15px;
}

.gakubu_2{
  font-size: 15px;
}

/*フッターの背景の色*/
.footer_2{
  background-color:#228b22;
  height: 150px;
  padding:15px 50px;
}

/*フッターのハイキュークラブロゴの設定*/
.footer_2 a{
  font-size: 50px;
}
